@model Camarillo_Tennis_Club.Models.Matches

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Search for Score Cards", "Search")
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchDate)
        </th>
        <th>
            @Html.DisplayName("Winner Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.matchesList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WinnerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchID }) |
            @Html.ActionLink("View Score Card", "Details","Scores", new { id=item.MatchID },null) 
        @*    @Html.ActionLink("Delete", "Delete", new { id=item.MatchID })*@
        </td>
    </tr>
}

</table>
